:root {
  --md-primary-fg-color: #0060df;
  --md-typeset-color: #1b1b1b;
  --md-admonition-fg-color: #1b1b1b;
  --md-code-fg-color: #1b1b1b;
  --md-code-hl-variable-color: #565c65;
  --md-code-hl-comment-color: #565c65;
  --md-accent-fg-color: #3F57A6;
  --md-code-bg-color: white;

}

/* add affordance to article links */
article p a:link,
article li a:link,
li a:hover {
  text-decoration: underline;
}

/* use same text color as VA.gov */
.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-nav__title,
.md-typeset code,
.md-nav__link[href]:hover,
.md-typeset a:hover,
.md-search-result__meta {
  color: var(--md-typeset-color);
}
.md-nav__link--passed {
  color: black;
}
.md-search-result .md-typeset {
  color: black;
}

/* use anchor element color for search result marks to increase contrast */
.md-search-result mark {
  color: var(--md-typeset-a-color);
}

/* use code foreground color for copy-to-clipboard button to increase contrast */
.md-clipboard {
  color: var(--md-code-fg-color);
}

/* use footer foreground color for copyright text to increase contrast */
.md-copyright {
  color: var(--md-footer-fg-color);
}

/* adds underline to nav item focus state */
.md-nav__link[href]:focus {
  text-decoration: underline;
}

/* allows visually consistent focus state for top nav item */
.md-nav--primary .md-nav__title,
.md-nav--secondary .md-nav__title {
  box-shadow: none;
}

/* Addresses Row 17 in Nov 2025 Audit */
.md-typeset .admonition.quote,.md-typeset details.quote {
  border-color: #757575;
}

.md-typeset .admonition.quote:focus-within,.md-typeset details.quote:focus-within {
  box-shadow: 0 0 0 .2rem #7575751a;
}

.md-typeset .quote>.admonition-title,.md-typeset .quote>summary {
  background-color: #7575751a;
}

.md-typeset .quote>.admonition-title:before,.md-typeset .quote>summary:before {
  background-color: #757575;
  -webkit-mask-image: var(--md-admonition-icon--quote);
  mask-image: var(--md-admonition-icon--quote)
}

.md-typeset .quote>.admonition-title:after,.md-typeset .quote>summary:after {
  color: #757575;
}
