name: Publish Documentation
on:
  push:
    branches:
      - 5918/pip-package-requirements
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - uses: actions/cache@v3
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: |
          pip install --only-binary=:all: -r requirements-lock.txt
      - run: mkdocs gh-deploy --force
